{% extends 'base.html.twig' %}

{% block title %}Wgraj plik{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-5">Wgraj plik</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Importuj</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}