{% extends 'base.html.twig' %}

{% block title %}Dodaj kategorię{% endblock %}

{% block body %}
    <h1>Dodaj kategorię</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Powrót do listy kategorii</a>
{% endblock %}