{% extends 'base.html.twig' %}

{% block title %}Edytuj kategorię{% endblock %}

{% block body %}
    <h1>Edytuj kategorię</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">Powrót do listy kategorii</a>
{% endblock %}