{% extends 'base.html.twig' %}

{% block title %}Edytuj produkt{% endblock %}

{% block body %}
    <h1>Edytuj produkt</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">Powrót do listy produktów</a>
{% endblock %}